@{
    ViewData["Title"] = "Home Page";
}

<<form name="select" action="/list">
    <div class="form-group">
        <label for="formGroupExampleInput">Example label</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
    </div>
  
</form>